<p>Pessoas fazendo a trilha</p>
<div class="col-12 p-0 flex justify-content-start align-items-center mb-2 md:mb-0">
    <div class="circle flex justify-content-center align-content-center green-circle">
       <p>BS</p>
    </div>
    <div class="circle flex justify-content-center align-content-center blue-circle ml-2">
       <p>AT</p>
    </div>
    <div class="circle flex justify-content-center align-content-center red-circle ml-2">
       <p>GR</p>
    </div>
    <div class="ml-2">+20</div>
</div>
