<div class="awards col-12 p-0 flex flex-row align-items-center justify-content-between">
    <div class="col-5 md:col-3 flex align-items-center">
        <div class="medal ml-3"></div>
        <div class="title-awards ml-2">Comunicação Eficaz</div>
    </div>
    <div class="col-6 md:col-7 p-0 flex-column mr-3">
        <div class="col-12 p-0 flex justify-content-between">
            <div class="wings"></div>
            <div class="title-wings-bold">150 <span class="title-wings">/150 Flys</span></div>
        </div>
        <div class="col-12 p-0 mt-3">
            <div class="timeline"></div>
        </div>
    </div>
</div>
