<div class="absolute flex align-items-center justify-content-between md:align-items-center md:col-12 top-0 p-0 header">
    <!--HEADER DESKTOP-->
    <div class="title-name hidden md:inline-flex"> Oi, Flávia :)</div>
    <div class="hidden md:inline-flex">
        <img src="../../../assets/images/logo.svg" alt="Logo Learn To Fly">
    </div>
    <form class="form-header hidden md:inline-flex">
        <mat-form-field class="input-search" appearance="outline">
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input type="tel" matInput>
        </mat-form-field>
    </form>

    <!--HEADER MOBILE-->
    <div></div>
    <div class="inline-flex md:hidden">
        <img src="../../../assets/images/logo-color.svg" width="138" height="28" alt="Logo Learn To Fly">
    </div>
    <div class="search-icon"></div>
</div>
