<div class="content-card relative flex justify-content-center">
    <div class="col-12 p-0">
        <div class="bg-card absolute top-0 right-0"></div>
    </div>
    <div class="{{icon}} absolute"></div>
    <div class="col-12 p-0 flex flex-column absolute" style="margin-top: 176px;">
        <div class="title text-center">{{title}}</div>
        <div class="subtitle text-center mt-1">{{subtitle}}</div>
        <div class="flex justify-content-between">
            <div class="ml-3 mt-3 read-more">Ler Mais</div>
            <div class="mr-3 mt-2 marker"></div>
        </div>
    </div>
</div>
