<div class="not-found flex justify-content-center align-items-center">
    <div class="md:col-8 flex justify-content-center p-0">
        <div class="col-12 md:col-4">
            <div class="avatar-succes"></div>
            <div class="col-12 md:col-12 text-center p-0 flex-column">
                <div class="title-comunication mt-3">{{'Página não encontra' | uppercase}}</div>
                <div class="title-not-found-h3">{{'Implementação em breve' | uppercase}}</div>
            </div>
        </div>
    </div>
</div>