<div class="banner">
    <div class="container flex md:justify-content-center align-items-end z-4 relative">
        <div class="ellipse"></div>
        <div class="absolute vector z-3"></div>
        <div class="absolute z-4 container-title flex flex-column">
            <div class="flex align-items-center">
                <h2 class="title">Comunicação Eficaz</h2>
                <div class="interrogation"></div>
            </div>
            <div class="flex-column col-8 md:col-4 p-0">
                <app-people-trail></app-people-trail>
            </div>
        </div>
        <div class="absolute chart-gauge">
            <div class="text-center mb-5 title">Progresso</div>
        </div>
    </div>
</div>

<mat-tab-group class="tabs">
    
    <!--ATIVIDADES-->
    <mat-tab class="tabs-title" label="Atividades"> 
        <div class="flex justify-content-center align-items-center">
            
            <div class="col-11 p-0 flex-column">
                <div class="col-12 p-0 flex justify-content-center">
                    <!--PILARES-->
                    <div class="md:col-4 p-0 flex-column justify-content-center">
                        <div class="mt-5 title-h3 text-center">Pilares da Comunicação Eficaz</div> 
                        <div class="col-12 p-0 flex justify-content-center">
                            <div *ngFor="let item of minCards" >
                                <app-min-card 
                                    icon="{{item.icon}}"
                                    background="{{item.background}}"
                                    title="{{item.title}}"
                                    selected="{{item.selected}}"
                                    (click)="setSelected(item)">
                                </app-min-card>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 p-0 flex justify-content-center">
                    <!--DESCUBRA-->
                    <div class="md:col-7 p-0 flex-column justify-content-center">

                        <div class="col-12 p-0 flex justify-content-start">
                            <div class="col-12 p-0 flex-column" >
                                <div  *ngFor="let item of cards">
                                    <app-card
                                        id="{{item.id}}"
                                        statusText="{{item.statusText}}"
                                        status="{{item.status}}"
                                        background="{{item.background}}"
                                        title="{{item.title}}"
                                        time="{{item.time}}"
                                        titleCard="{{item.titleCard}}">
                                    </app-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 p-0 flex justify-content-center">
                    <div class="col-11 md:col-7 p-0">
                        <div class="title-h2 mt-5">Conteúdos recomendados</div>
                        <div class="col-12 p-0 flex flex-row justify-content-between mt-4 overflow-auto">
                            <div class="ml-3" *ngFor="let item of contentCards">
                                <app-content-card 
                                    title="{{item.title}}"                             
                                    icon="{{item.icon}}"                             
                                    subtitle="{{item.subtitle}}">
                                </app-content-card>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </mat-tab>

    <!--RESULTADOS-->
    <mat-tab class="tabs-title" label="Resultados"> 
        <div class="flex justify-content-center align-items-center">
            <div class="col-11 flex justify-content-center p-0">
                <div class="flex flex-column md:col-7 p-3">                   
                    <div class="col-12 mt-4 flex flex-column align-items-center justify-content-center">
                        <app-awards></app-awards>
                        <div class="title-completed mt-7">COMPLETADO 23/12/2021</div>
                    </div>
                </div>
            </div>    
        </div>

        <div class="flex justify-content-center align-items-center">
            <div class="md:col-7 flex justify-content-between p-0">
                <div class="col-3 md:col-4">
                    <div class="avatar-succes"></div>
                </div>
                <div class="col-9 md:col-7 p-0 flex-column">
                    <div class="title-comunication mt-3">{{'Hoje sua comunicação' | uppercase}}</div>
                    <div class="title-comunication-h3">{{'Ainda não é eficaz' | uppercase}}</div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-center align-items-center">
            <div class="col-11 md:col-7 p-0 mt-5 text-results">
                <app-text-card text="{{text}}"></app-text-card>
            </div>
        </div>

        <!--MEDIUNS CARDS-->
        <div class="flex md:justify-content-center align-items-start mt-3">
            <div class="md:col-7 p-0 mt-3 ml-4 md:ml-0 flex">
                <div class="icon-barra"></div>
                <div class="title-results ml-3">Suas forças</div>
            </div>
        </div>

        <div class="flex md:justify-content-center align-items-start">
            <div class="md:col-7 ml-4 md:ml-0 p-0 flex flex-wrap justify-content-start align-content-between">
                <div *ngFor="let item of mediunCards; index as i">
                    <div [ngStyle]="{'margin-left' : i > 0 ? '25px': ''}">
                        <app-medium-card
                            circleColor="{{item.circleColor}}"    
                            background="{{item.background}}"
                            textColor="{{item.textColor}}"
                            title="{{item.title}}"
                            numberCard="{{item.numberCard}}"
                            subtitle="{{item.subtitle}}"    
                        ></app-medium-card>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex md:justify-content-center align-items-start mt-3">
            <div class="md:col-7 p-0 mt-3 ml-4 md:ml-0 flex">
                <div class="icon-holding"></div>
                <div class="title-results ml-3">Suas áreas de desenvolvimento</div>
            </div>
        </div>

        <div class="flex md:justify-content-center align-items-start">
            <div class="md:col-7 ml-4 md:ml-0 p-0 flex flex-wrap justify-content-between align-content-between">
                <div *ngFor="let item of mediunCardsArea">
                    <app-medium-card
                        circleColor="{{item.circleColor}}"
                        background="{{item.background}}"
                        textColor="{{item.textColor}}"
                        title="{{item.title}}"
                        borderColor="{{item.borderColor}}"
                        numberCard="{{item.numberCard}}"
                        subtitle="{{item.subtitle}}"    
                    ></app-medium-card>
                </div>
            </div>
        </div>
        <!--END MEDIUNS CARDS-->
        
        <div class="flex justify-content-center align-items-start mt-3">
            <div class="md:col-7 flex-column">
                <app-charts></app-charts>

                <div class="col-12 p-0 flex justify-content-center">
                    <!--PILARES-->
                    <div class="col-4 p-0 flex justify-content-center">
                        <div class="col-12 p-0 flex justify-content-center">
                            <div *ngFor="let item of minCards" >
                                <app-min-card 
                                    icon="{{item.icon}}"
                                    background="{{item.background}}"
                                    title="{{item.title}}"
                                    selected="{{item.selected}}"
                                    (click)="setSelected(item)">
                                </app-min-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center align-items-center">
                    <div class="text-results mt-5">{{'Hoje sua comunicação tem' | uppercase}}</div>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <div class="dolls ml-3 md:ml-0"></div>
                    <div class="title-comunication-h3 text-small">{{'CLAREZA BAIXA' | uppercase}}</div>
                    <div class="result-5 mr-3 md:mr-0"></div>
                </div>
                <div class="flex col-11 ml-3 md:ml-0 md:col-12 justify-content-center align-items-center text-results">
                    <app-text-card text="{{text}}"></app-text-card>
                </div>
                <div class="mt-3 ml-3 md:ml-0 title-h5 cursor-pointer">Ver relatório completo</div>
            </div>
        </div>
        <div class="flex justify-content-center align-items-center mt-3">
            <div class="col-11 md:col-7">
                <div class="card-green relative flex justify-content-center">
                    <div class="smile-king absolute"></div>
                    <div class="absolute title-card-green">Com seus resultados em mãos, é hora de criar seu plano de desenvolvimento para colocar em prática os conceitos, recursos e dicas que aprendemos ao longo da trilha. </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-center align-items-center mt-3">
            <div class="button-green flex justify-content-center align-items-center cursor-pointer">
                Ver meu plano
            </div>
        </div>
    </mat-tab>

    <mat-tab class="tabs-title" label="Plano de Desenvolvimento"> 
        <div class="flex justify-content-center align-items-center mt-7">
            EM BREVE 
        </div>    
    </mat-tab>
</mat-tab-group>